/* Start Variables */
   :root{
      --main-color: #10cab7;
      --seconde-color: #2c4755;
      --seconde-padding: 60px;
      --seconde-background: #f7f7f7f7;
      --line-height: 1.6;
      --main-transition: .3s;

   }
/* End Variables */

/* Start Global Rules */
html {
   scroll-behavior: smooth;
}
* {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}
body {
   font-family: 'Work Sans', sans-serif;
}
.container {
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}
/* small */
@media (min-width: 768px){
   .container {
      width: 750px;
   }
}
/* medium */
@media (min-width: 992px){
   .container {
      width: 970px;
   }
}
/* larg */
@media (min-width: 1200px){
   .container {
      width: 1170px;
   }
}
.grid-3 {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   gap: 20px;
}
/* End Global Rules */
/* strart compoents */
.speciacl-heading {
   color: #ebeced;
   margin: 0;
   font-size: 100px;
   text-align: center;
   letter-spacing: -3px;
   font-weight: 800;
}
.speciacl-heading + p {
   margin: -30px 0 0;
   font-size: 20px;
   text-align: center;
   color: #50505079;
}
@media (max-width: 767px){
   .speciacl-heading {
      font-size: 50px;
   }
   .speciacl-heading + p {
      margin: -20px;
   }
}
/* end compoents */
/* start hrader */
.header {
   padding: 20px;
}
.header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header .logo {
   width: 60px;
}
.header .links {
   position: relative;
}
.header .links:hover .icon span:nth-child(2) {
   width: 100%;
}
.header .links .icon {
   width: 30px;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
}
.header .links .icon span {
   background-color: #333;
   margin-bottom: 5px;
   height: 3px;
}
.header .links .icon span:first-child{
   width: 100%;
}
.header .links .icon span:nth-child(2) {
   width: 60%;
   transition: .3s;
   -webkit-transition: .3s;
   -moz-transition: .3s;
   -ms-transition: .3s;
   -o-transition: .3s;
}
.header .links .icon span:last-child{
   width: 100%;
}
.header .links ul {
   list-style: none;
   padding: 0;
   margin: 0;
   position: absolute;
   right: 0;
   top: calc(100% + 15px);
   width: 200px;
   display: none;
   background-color: #f6f6f6f6;
   z-index: 1;
}
.header .links:hover ul{
   display: block;
}
.header .links ul::before {
   content: '';
   border-width: 10px;
   border-style: solid;
   border-color: transparent transparent #f6f6f6 transparent;
   position: absolute;
   right: 5px;
   top: -20px;
}
.header .links ul li a {
   display: block;
   padding: 15px;
   text-decoration: none;
   color: #333;
   transition: .3s;
   -webkit-transition: .3s;
   -moz-transition: .3s;
   -ms-transition: .3s;
   -o-transition: .3s;
}
.header .links ul a:hover {
   padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
   border-bottom: 1px solid #ddd;
}
/* end hrader */
/* start landing section */

.landing {
   background-image: url("../images/background-1.jpeg");
   background-size: 100% 125%;
   height: calc(100vh - 64px);
   position: relative;
}
.landing .intro-text {
   position: absolute;
   top: 50%;
   left: 50%;
   text-align: center;
   width: 320px;
   max-width: 100%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
}
.landing .intro-text h1{
   margin: 0;
   color: var(--main-color);
   font-weight: bold;
   font-size: 50px;
}
.landing .intro-text p {
   font-size: 19px;
   line-height: 1.8;
}
/* end landing section */
/* start features  */
.features {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: #f6f6f6;
}
.features .feat {
   text-align: center;
   padding: 20px;
}
.features .feat i {
   color: var(--main-color);
   font-size: 35px;
}
.features .feat h3 {
   font-weight: 800;
   margin: 30px 0;
}
.features .feat p {
   line-height: 1.8;
   color: #777;
   font-size: 17px;
}
/* end features  */
/* start services  */
.services {
   padding-top: 60px;
   padding-bottom: 0;
}
.services .services-contant {
   margin-top: 100px;
}
.services .services-contant .srv {
   display: flex;
   margin-bottom: 50px;
}
@media (max-width: 767px) {
   .services .services-contant .srv {
      flex-direction: column;
      text-align: center;
   }
}
@media (max-width: 767px) {
   .services .services-contant .col .srv .images {
      display: none;
   }
}

.services .services-contant .srv i {
   color: var(--main-color);
   flex-basis: 60px;

}
.services .services-contant .srv .text h3 {
   margin: 0 0 15px;
}
.services .services-contant .srv .text {
   flex: 1;
}
.services .services-contant .srv .text p{
   color: #777;
   font-weight: 300;
   line-height: 1.6;
}
.services .services-contant .srv .images {
   position: relative;
   text-align: center;
}
.services .col  .images::before {
   content: '';
   width: 100px;
   height: calc(100% + 100px);
   background-color: var(--seconde-color);
   right: 0;
   top: -50px;
   position: absolute;
   z-index: -1;
}
.services .services-contant .srv .images img {
   width: 250px;
   height: 350px;
}
/* end services  */
/* start portfolio */
.portfolio {
   padding-top: var(--seconde-padding);
   padding-bottom: var(--seconde-padding);
   background-color: var(--seconde-background);
}
.portfolio .portfolio-content {
   margin-top: 100px;
}
.portfolio .portfolio-content .card {
   background-color: #fff;
   margin: 20px;
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   -moz-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   -ms-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   -o-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   transition: all var(--main-transition) ease;
   -webkit-transition: all var(--main-transition) ease;
   -moz-transition: all var(--main-transition) ease;
   -ms-transition: all var(--main-transition) ease;
   -o-transition: all var(--main-transition) ease;
}
.portfolio .portfolio-content .card:hover {
   transform: translatey(-15px);
   -webkit-transform: translatey(-15px);
   -moz-transform: translatey(-15px);
   -ms-transform: translatey(-15px);
   -o-transform: translatey(-15px);
}
.portfolio .portfolio-content .card .info::before {
   content: "";
   width: 0;
   height: 100%;
   position: absolute;
   background-color: rgba(119, 119, 119, 0.144);
   top: 0;
   left: 0;
   z-index: -1;
   transition: var(--main-transition);
   -webkit-transition: var(--main-transition);
   -moz-transition: var(--main-transition);
   -ms-transition: var(--main-transition);
   -o-transition: var(--main-transition);
}
.portfolio .portfolio-content .card:hover .info::before {
   width: 50%;
}
.portfolio .portfolio-content .card .info::after {
   content: "";
   width: 0;
   height: 100%;
   position: absolute;
   background-color: rgba(119, 119, 119, 0.144);
   bottom: 0;
   right: 0;
   z-index: -1;
   transition: var(--main-transition);
   -webkit-transition: var(--main-transition);
   -moz-transition: var(--main-transition);
   -ms-transition: var(--main-transition);
   -o-transition: var(--main-transition);
}
.portfolio .portfolio-content .card:hover .info::after {
   width: 50%;
}
.portfolio .portfolio-content .card .info {
   padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
   margin: 0;
} 
.portfolio .portfolio-content .card .info p {
   line-height: var(--line-height);
   color: #777;
   margin-bottom: 0;
}
.portfolio .portfolio-content .card img {
   width: 100%;
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
}
/* end portfolio */
/*start about */
.about {
   padding-top: var(--seconde-padding);
   padding-bottom: var(--seconde-padding);
}
.about .about-content {
   margin-top: 100px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
@media (max-width: 991px) {
   .about .about-content{
      flex-direction: column;
      text-align: center;
   }
}
.about .about-content .image img {
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
}
@media (max-width:991px) {
   .about .about-content .image {
      margin: 0 auto 70px;
   }
}
@media (max-width:991px) {
   .about .about-content .image img {
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
}
}
.about .about-content .image {
   width: 250px;
   height: 375px;
   position: relative;
}
.about .about-content .image::after {
   content: "";
   position: absolute;
   width: 150px;
   height: 300px;
   border-bottom: 90px solid var(--main-color);
   border-left: 90px solid #10cab7;
   right: -185px;
   top: -50px;
   z-index: -1;
}
.about .about-content .image::before {
   content: '';
   position: absolute;
   background-color: #ebeced;
   height: calc(100% + 100px);
   top: -50px;
   left: -25px;
   width: 100px;
   z-index: -1;
}
@media (max-width: 991px) {
   .about .about-content .image::before,
   .about .about-content .image::after {
      display: none;
   }
}
.about .about-content .image img {
   height: 100%;
   width: 100%;
}
.about .about-content .text {
   flex-basis: calc(100% - 500px);
}
@media (max-width:767px) {
   .about .about-content .text p:last-of-type {
      line-height: 1.6;
      font-size: 20px;
   }
   .about .about-content .text p:first-of-type {
      line-height: 1.6;
      font-size: 20px;
   }
}
.about .about-content .text p:first-of-type{
   line-height: 2;
   font-weight: bold;
   margin-bottom: 50px;
}
.about .about-content .text hr{
   width: 50%;
   border-color: var(--main-color);
   display: inline-block;
}
.about .about-content .text p:last-of-type {
   line-height: 2;
   color: #777;
}
/* end about */
/*start contact */
.contact{
   background-color: #f7f7f7;}
.contact .container {
   margin-top: 100px;
   padding-left: var(--seconde-padding);
   padding-right: var(--seconde-padding);
   margin-bottom: 0;
}
.contact .info {
   /* margin-top: 50px; */
   padding-top: var(--seconde-padding);
   padding-bottom: var(--seconde-padding);
   text-align: center;
}
.contact .info .lable {
   font-weight: 800;
   font-size: 40px;
   color: var(--seconde-color);
   letter-spacing: -2px;
   margin-bottom: 15px;
}
.contact .info .link {
   display: block;
   color: var(--main-color);
   font-weight: 800;
   font-size: 40px;
   text-decoration: none;
   
}
.contact .info .social {
   display: flex;
   justify-content: center;
   margin-top: 20px;
   font-size: 18px;

}
.contact .info .social i {
   margin-left:17px;
   color: var(--seconde-color);
}
@media (max-width: 767px) {
   .contact .info .link,
   .contact .info .lable  {
      font-size: 24px;
   }
}

/* end contact */
/* start footer */
.footer {
   color: white;
   background-color: var(--seconde-color);
   padding: 30px 10px;
   font-size: 18px;
   text-align: center;
}
.footer span {
   color: var(--main-color);
}
/* end footer */



